ui = true

storage "file" {
  path = "/vault/file"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/vault/config/tls.crt"
  tls_key_file  = "/vault/config/tls.key"

  tls_min_version      = "tls12"
  tls_cipher_suites    = [
    "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
    "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
  ]
}

api_addr     = "https://0.0.0.0:8200"
max_lease_ttl = "768h"
default_lease_ttl = "168h"

log_level = "info"
