pid_file = "{{ vault_agent_run_dir }}/vault-agent.pid"

vault {
  address = "{{ vault_agent_vault_addr }}"
{% if vault_agent_vault_cacert | length > 0 %}
  ca_cert = "{{ vault_agent_vault_cacert }}"
  tls_skip_verify = false
{% else %}
  tls_skip_verify = {{ 'true' if vault_agent_vault_tls_skip_verify | bool else 'false' }}
{% endif %}
}

auto_auth {
{% if vault_agent_auth_method == 'approle' %}
  method "approle" {
    mount_path = "{{ vault_agent_auth_mount_path }}"
    config = {
      role_id_file_path    = "{{ vault_agent_approle_role_id_file }}"
      secret_id_file_path  = "{{ vault_agent_approle_secret_id_file }}"
      remove_secret_id_file_after_reading = {{ 'false' if vault_agent_approle_preserve_secret_id | bool else 'true' }}
    }
  }
{% endif %}

  sink "file" {
    config = {
      path = "{{ vault_agent_sink_path }}"
    }
  }
}

cache {
  use_auto_auth_token = true
}

listener "tcp" {
  address     = "{{ vault_agent_listener_address }}:{{ vault_agent_listener_port }}"
  tls_disable = true
}
