[Unit]
Description=Vault Agent
Documentation=https://developer.hashicorp.com/vault/docs/agent-and-proxy/agent
Wants=network-online.target
After=network-online.target

[Service]
User={{ vault_agent_user }}
Group={{ vault_agent_group }}
RuntimeDirectory=vault-agent
RuntimeDirectoryMode=0750
ExecStart={{ vault_agent_cli_bin_path }} agent -config={{ vault_agent_config_path }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
KillMode=process
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ vault_agent_service_name }}

[Install]
WantedBy=multi-user.target
